:root {
  --fondo: #edfffe;
  --fondo-fin: #cffefd;
  --barra-navegacion: #008c91;
  --barra-navegacion-hover: #ffa500;
  --color-texto: #001f3f;
  --color-texto-blanco: #f0f0f0;
  --color-texto-negro: #000;
  --detalles: #ff85a2;
  --fondo-circulos: #0e8290;
  --gris: #595959;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  background-image: linear-gradient(
    to top,
    var(--fondo-fin) 0%,
    var(--fondo) 100%
  );
  background-size: 100% 100%;
}
/*
Lo modificado en html y body hace que 1rem = 10 px
*/

h1 {
  font-size: 3.8rem;
  color: var(--color-texto);
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

.titulo span {
  color: var(--detalles);
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.contenedor {
  width: 120rem;
  margin: 0 auto;
}

.sombra {
  box-shadow: 10px 10px 29px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 29px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 29px 4px rgba(0, 0, 0, 0.75);
  background-color: var(--color-texto-blanco);
  padding: 2rem;
  border-radius: 1rem;
}

.boton {
  background-color: var(--barra-navegacion);
  color: var(--color-texto-blanco);
  text-decoration: none;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 0.5rem;
  border: none;
}

.boton:hover {
  background-color: var(--barra-navegacion-hover);
  cursor: pointer;
  color: #000;
}

.w-100 {
  width: 100%;
}

.alinear-derecha {
  text-align: right;
}

/*UTILIDADES*/

.nav-bg {
  background-color: var(--barra-navegacion);
}

.navegacion-principal {
  display: flex;
  justify-content: space-evenly;
}

.navegacion-principal a {
  padding: 1rem;
  color: var(--color-texto-blanco);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}

.navegacion-principal a:hover {
  color: var(--color-texto-negro);
  background-color: var(--barra-navegacion-hover);
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--color-texto-blanco);
}

.ubicacion {
  display: flex;
  align-items: flex-end;
}

/*Scroll-snap*/
.servicios,
.navegacion-principal,
.formulario {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

/*Servicios*/
.servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*1fr = 1 fraccion, por lo tanto 
  repeat(3, 1fr) = 1/3 1/3 1/3*
  por lo tanto repeat(n 1fr) = 1/n n veces */
  column-gap: 1rem;
}
.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio h3 {
  color: var(--detalles);
}

.servicio p {
  line-height: 2;
  text-align: center;
}

.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--fondo-circulos);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*Formulario de contacto*/
.formulario {
  background-color: var(--gris);
  width: min(60rem, 100%);
  margin: 0 auto;
  border-radius: 1rem;
  padding: 2rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-texto);
}

.contenedor-campos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 20rem;
  column-gap: 1rem;
}

.campo:nth-child(3),
.campo:nth-child(4) {
  grid-column: 1 / 3;
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: white;
  font-weight: 900;
  margin-bottom: 0.5rem;
  display: block;
}

.campo textarea {
  height: 16rem;
}

.input-text {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid var(--color-texto);
}

.footer {
  color: var(--color-texto);
  text-align: center;
  padding: 2rem;
}
